@use '../../styles/mixins'as*;
@use '../../styles/variables'as*;

.search-wrapper {
  @include padding-medium;
  padding-bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-deck {
  @include padding-large;
  display: flex;
  flex-direction: column;
  gap: $padding-xl;
}

.card {
  @include padding-large;
  border: 2px solid black;
  border-radius: $brdr-radius-medium;
}