@use '../../styles/mixins'as*;
@use '../../styles/variables'as*;

.nav {
  @include padding-large;
  background-color: #0a0a0a;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: $padding-large;
}

.button {
  @include padding-medium;
  border: 1.5px solid white;
  border-radius: $brdr-radius-large;
  color: white;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &_active {
    @extend .button;
    color: gold;
    border-color: gold;
  }
}