@use '../../styles/mixins'as*;
@use '../../styles/variables'as*;

.modal {
  @include padding-medium;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(25px);
  min-width: 12rem;
  border-radius: $brdr-radius-large;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05),
    0 3px 3px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.15),
    0 8px 16px rgba(0, 0, 0, 0.2),
    0 16px 32px rgba(0, 0, 0, 0.35),
    0 32px 48px rgba(0, 0, 0, 0.3);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  padding: 8rem 15%;
}

.form {
  @include padding-small;
  display: flex;
  flex-direction: column;
  gap: $padding-medium;
}

.input {

  &__large {
    @extend .input;
    resize: none;
  }
}

.button {
  margin: $padding-medium auto;
}